include ../../templates/partials/mixins.pug

div.overlay(*ngIf="!logged")

div(*ngIf="logged")
	header-app

//- div(*ngIf="!logged")
login([show]="!logged", (state)="logIn()")

section.container-fliud(*ngIf="logged")

	div.row

		article.container-compu
			+image('/layout/compu.svg', 'BRM Brand Storage')

		article.col-5.offset-6.container-bienvenido
			h1 Bienvenido a BRM Brand Storage

			p.text-desc Aquí encontrará todo lo necesario para hacer un buen uso de la marca en comunicación interna y externa de la compañía.

			p.text-go
				a([routerLink]="['/guidelines']")
					|
					span Conózca los guidelines antes de hacer uso de los assets
					i.icon-angle-right

//- footer-app([classes]="")
footer-app([classes]="'footer-bottom'")