include ../../../templates/partials/mixins.pug

//Card
article.card
	//Imagen
	.card-img
		ng-content(select="card-img")
	///-Imagen

	//Titulo
	h3.card-title
		ng-content(select="card-title")
	///-Titulo

	//Descripcion
	.card-desc
		ng-content(select="card-desc")
	///-Descripcion

///-Card