.card
	background-color: #fff
	border-radius 10px
	float left
	margin 1rem auto
	padding 2.7rem 2rem 1rem
	position relative
	text-align center
	width 100%

	&-desc
		line-height: 2rem
		margin-top: 2rem
	
	&-title
		font-weight 300
		line-height: 3rem
		margin-bottom 2rem	
		text-transform: none

	img
		// max-width 6rem
		display block
		height 6rem
		margin 0 auto
		position relative
		text-align center
	
		&::after
			color $azul
			content '\f127' attr(alt)
			font-family FontAwesome, prompt, sans-serif
			font-smoothing antialiased
			font-style normal
			left 0
			padding 0.5rem
			position absolute
			text-align center
			text-rendering auto
			top 50%
			transform translateY(-50%)
			width 100%

		&::before
			background-color $gris[0]
			content ''
			cuadrado(100%)
			display block
			left 0
			position absolute
			top 0