.icon
	
	&-brand
		fa(tags)
		
	&-close
		fa(times)

	&-calendar
		fa(calendar-check-o)
	
	&-comment
		fa(comment-o)
		

	&-link
		fa(link)
	

	&-off
		fa(power-off)
		
	&-plus
		fa(plus-circle)
		
	&-remove
		fa(minus-circle)		

	&-time
		fa(clock-o)
		
		
	&-title
		fa(chevron-right)
	

	&-user
		color $azul
		display inline-block
		fa(user-circle-o)
		font-size 7rem
		margin 0 auto