.menu
	background-color #fff
	clearfix()
	height 100%
	height 100vh
	padding 0 1rem
	position fixed
	right -100%
	text-align center
	top 0
	transitionBase()
	width 100%
	z-index 10
	
	&.active
		right 0	


	&-list
		list-style-type none
		padding 0		

		li
			border-bottom 1px solid $gris[1]
			text-align center		
			
			a
				color $azul
				display block
				font-weight $light
				padding 1rem 2rem
				text-align center
				

			&:hover,
			&.active
				a
					background-color $azul
					color white
					cursor pointer
					text-decoration none
		
		.dropdown
			

			&:hover,
			// &.active
				a
					background-color #fff
					color $azul
			
				& > a
					background-color $azul
					color white
					cursor pointer
					text-decoration none
					
			&-list
				font-size 1.3rem
				height 100%
				list-style-type none
				max-height 0
				overflow hidden
				padding-left 0
				transitionBase()
				
				&.active
					max-height 100rem

				li
					border-bottom-color transparent
					
					&.active
						background-color $azul
						color white
											

	.container-menu
		left 5%
		position absolute
		top 50%
		transform translateY(-50%)
		width 90%
		

@media (min-width:520px)
	.menu
		&-list
			& > li
				a
					padding 1.5rem


@media (min-width:$screen-sm)
	.menu
		height auto
		padding 0
		position static
		right auto
		top auto
		
		.container-menu
			left auto
			position static
			top auto
			transform none
			width auto
			
		&-list
			float left
			margin 2.8rem auto
			width 100%

			li
				border-bottom none
				// border-right 1px solid black
				float left
				
				
				a
					padding 0.5rem 1rem
					
				&:nth-last-of-type(1)
					border-right-color transparent
					

			.dropdown
				position relative
				
				&:hover
					a
						background-color #fff
						color black				
				
				&-list
					background-color white
					box-shadow 0px 5px 5px 0px rgba(0,0,0,0.25)
					height auto
					opacity 0
					position absolute
					top 100%
					width 25rem
					z-index 20
					
					&.active
						opacity 0.99
					
					li
						border-right none
						display block
						float none
						text-align left
						
						a
							padding 1.5rem 2rem
							text-align left
						
						&:hover,
						&.active
								& > a
									background-color $azul
									color white

		.social-list
			margin 0
			position absolute
			right 0
			top 12rem
			// transform translateY(-50%)
			z-index 20
			// margin 2.8rem auto
			// width (8.3%*4)
			
			li
				// display block
				
				a
					cuadrado(3rem)
					font-size 1.5rem
					line-height 1.2
					

@media (min-width:830px)
	.menu
		&-list
			margin 3.8rem auto
			
			li 
				a
					padding 0.5rem 1.4rem
					
		.social-list
			top 14rem
		// 	margin 3.8rem auto
			

@media (min-width:860px)
	.menu
		&-list			
			li 
				a
					padding 0.5rem 1.5rem
					
@media (min-width:910px)
	.menu
		&-list			
			li 
				a
					padding 0.5rem 1.8rem
					

@media (min-width:980px)
	.menu
		&-list
			margin 1.9rem auto

			li 
				a
					padding 0.5rem 2.2rem
		
		// .social-list
		// 	// margin 4.2rem auto
			
		// 	li
		// 		a
		// 			cuadrado(3.6rem)
		// 			font-size 2rem


@media (min-width:1024px)
	.menu
		&-list
			
			li 
				a
					padding 0.5rem 2.5rem

@media (min-width:1200px)
	.menu
		&-list			
			li
				a
					padding 0.5rem 3.3rem

@media (min-width:1280px)
	.menu
		// &-list
		.social-list
			position fixed
			right 0.5rem
			top 24rem
			
			li
				display block
				margin 1rem 0
		
