//colores
$azul              = #0d2d6c
$amarillo          = #c3b578
$cyan              = #4f8fcc
$gris              = #e5e5e5 #333333 #b3b3b3
$verde             = #45634f

//colores social media
$facebook          = #4d6ab0
$whatsapp          = #43d854
$twitter           = #5ba8df


estados = {
	asignado: #6abdb9,	
	en-cola: #ed872c,
	entregado: #1f5196,	
	recibido: #b3b3b3,
	//Estados del requerimiento perfil usuario
	proceso:#b3b3b3, //proceso (ACEPTADO)   
	pendiente: #ed872c, //pendiente (EN COLA)
	finalizado: #63ae27, //finalizado (FINALIZADO)
	detenido: $brand-danger,//detenido (DETENIDO)
}

//fonts
$font-stack         = 'prompt', arial, sans-serif

//font weights
$bold              = 700
$light             = 300
$normal            = 400

//site grid spacing and width
$gutter            = 2rem
$site-width         = 110rem

//screen sizes - rewrite bootstrap

// $screen-xs // 480px
$screen-sm         = 770px // 768px
// $screen-md //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $gutter
