//Nib & gradient support
@require 'nib'
//Esto hace que exporte los estilos css3 con soporte para todos los navegadores
vendor-prefixes    = o ms webkit moz official


//Variables y funciones, se deben declarar primero que el resto de archivos para poderlos utilizar
@import "modules/variables"
@import "modules/funciones"
// @import "modules/fonts"
// vertical rhythm & modular types

//Font Awesome v 4.7.1
@import 'font-awesome'

$fa-font-path = "../fonts"

@import "modules/typographic"
$min-font          = 10px
$max-font          = 14px
$line-height-ratio = 1.2
$min-width         = 320px
$max-width         = 1100px
typographic()

//Bootstrap v 3.3.7
@import 'bootstrap.config'

//Layout
@import "modules/base"
@import "modules/layout"
@import "modules/containers"
@import "modules/columns"
@import "modules/header"
@import "modules/footer"


//components
@import "modules/buttons"
@import "modules/icons"
@import "modules/loaders"
@import "modules/login"
@import "modules/collapse"
@import "modules/forms"
@import "modules/datepicker"
@import "modules/req"
@import "modules/badges"
@import "modules/modal"
@import "modules/card"
@import "modules/menu"
// @import "modules/accordion"
// @import "modules/slider"
// @import "modules/articles"
// @import "modules/propuestas"
// @import "modules/accordion"
// @import "modules/admin"


//Extras
@import "modules/utilities"
// @import "modules/animations"
@import "modules/keyframes"
// @import "modules/media-queries"
