include ../../templates/partials/mixins.pug

//- div.overlay(*ngIf="!logged")

header-app


section.container-fluid.container-card(@list="")

	div.row
		h1.text-light Logos

		ng-container(*ngFor=" let brand of brands; let key = index; ")
			
			.item(@items="")
				card
					
					card-title {{brand.title}}

					card-img
						+image('{{brand.img}}', '{{brand.title}}')

					card-desc

						a.btn.btn-default( [href]="brand.link" ) 
							| Descargar
							i.icon-angle-right

			.clearfix(*ngIf=" (key+1) % 3 == 0 && key > 0; ")

//- footer-app([classes]="")
footer-app([classes]="'footer-cards'")